<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modbus Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Modbus Dashboard</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>monitor</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <% registers.forEach(({ name, value }) => { %>
                    <tr>
                        <td><%= name %></td>
                        <td><%= value %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>
